/*.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;	
}*/
h1 {
  margin-bottom: 20px;
}
#ask {
  text-decoration: none;
  color: #fff;
}
.roundrect .up {
  border-radius: 2rem 2rem 0 0;
}
.roundrect .down {
  border-radius: 0 0 2rem 2rem;
}
.roundrect .count {
  border-radius: 0.5rem 0.5rem;
}
.vote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Noto Sans";
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}
.increment {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  text-align: center;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.increment.up {
  background: #4bc35f;
  height: 50%;
  margin-bottom: 0.25rem;
}
.increment.down {
  background: #c15044;
  height: 50%;
}
.increment:hover {
  opacity: 1;
}
.count {
  position: absolute;
  top: 0;
  border-radius: 0.1rem;
  margin: 2.5rem;
  background: #f6f3e4;
  width: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 5rem;
  text-align: center;
  box-shadow: 0 0 0 0.5rem #f6f3e4;
  pointer-events: none;
}
.count.upvoted {
  color: #4bc35f;
}
.count.downvoted {
  color: #c15044;
}
.bump {
  -webkit-animation: bump 200ms;
  animation: bump 200ms;
}
@-webkit-keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.votes-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.votes {
  margin-top: 0;
}
.glyphicon {
  cursor: pointer;
}
.edit-btn {
  margin-right: 3px;
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
}
.editAnswerDiv {
  margin: 10px, 10px;
  transition: 1s;
}
.well {
  margin-bottom: 2px;
}
@-moz-keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-webkit-keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-o-keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes bump {
  30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
