
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">{{ question.title }}</h1>
  </div>
  <div class="panel-body">{{ question.body }}</div>
  <span class="pull-right">Asked by {{ question.username }} on {{ question.date | date: 'short' }}</span>
</div>
<div ng-controller="AnswerCtrl">
	<form>	
		<div class="form-group">
			<label for="answer">Answer:</label>
			<textarea class='form-control' ng-model="answerBody" rows='6' id="answer" placeholder="Your Answer Here"></textarea>			
		</div>
		<div class="form-group" >
			<button ng-click='postAnswer()' type="submit" class='btn btn-primary'>Post Answer</button>	
		</div>
	</form>
	<h3>Recent Answers</h3>
	<ul class="list-group">
		<div ng-repeat="answer in answers | orderBy:'-date'" >	
<!-- 			<div class="col-large-2">
				<h2>{{ answer.votes }}</h2>
			</div> -->
			<div class='well well-lg col-large-10 col-large-offset-2'>
				<span>{{ answer.body }}</span>
				<span class="pull-right">Answered by {{ answer.username }} on {{ answer.date | date:'short' }}</span>				
			</div>		
			
		</div>
	</ul>
</div>