<div class="container">
	<h1>Recent Questions</h1>
	<ul class="list-group">
		<li class="well well=lg list-group-item" ng-repeat="question in questions | orderBy:'-date'">			
			<span><a ng-href="/#/{{ question._id }}">{{ question.title }}: </a></span>
			<em>{{question.answers.length}} Answers</em>
			<span class="pull-right">Asked by {{ question.username}} on {{ question.date | date:'short' }}</span>
		</li>
	</ul>
	<button class="btn btn-primary"><a href="/#/ask" id="ask">Ask a question</a></button>
</div>